* {
  box-sizing: border-box; }

body {
  background-color: #f7f8f9;
  color: #000;
  font-size: 16px; }

h1 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center; }

h3 {
  font-weight: 400;
  margin: 8px 0; }

a {
  color: #000;
  text-decoration: none; }

ul {
  margin: 0;
  list-style: none;
  padding: 15px; }

.App {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 100%;
  grid-template-areas: "sidebar content"; }

.logo {
  width: 110px;
  height: 110px;
  border-radius: 10px; }

.sidebar {
  background: #f7f8f9;
  border-right: 1px solid transparent;
  border-image: linear-gradient(135deg, #24FE41, #FDFC47);
  border-image-slice: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  grid-area: sidebar;
  height: 100vh;
  padding: 15px;
  justify-content: center;
  align-items: center; }
  .sidebar a {
    margin-bottom: 3px; }

.sidebar-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh; }

.sidebar-footer {
  align-items: center;
  display: flex;
  height: 5vh; }

.year {
  color: #AAA;
  font-size: 14px;
  font-weight: 200; }

.content {
  grid-area: content;
  overflow: auto;
  height: 100vh; }

.app-title {
  color: #000;
  font-size: 32px;
  margin: 5px 0 15px; }

.app-subtitle {
  color: #666;
  font-size: 15px;
  margin-bottom: 20px;
  text-transform: lowercase; }

.block {
  background: #f7f8f9;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(45deg, #FDFC47, #24FE41);
  border-image-slice: 1;
  display: flex;
  align-items: center;
  padding: 30px;
  width: auto; }
  .block ul {
    padding: 0 30px; }

.bg-one:hover {
  border-image: linear-gradient(45deg, #30CFD0, #330867);
  border-image-slice: 1; }

.bg-two:hover {
  border-image: linear-gradient(45deg, #d4fc79, #56AB2F);
  border-image-slice: 1; }

.bg-three:hover {
  border-image: linear-gradient(to right, #FF5858, #F09819);
  border-image-slice: 1; }

.bg-four:hover {
  border-image: linear-gradient(to right, #CC208E, #6713D2);
  border-image-slice: 1; }

.bg-five:hover {
  border-image: linear-gradient(to right, #243949, #517FA4);
  border-image-slice: 1; }

.bg-six:hover {
  border-image: linear-gradient(to right, #F77062, #FE5196);
  border-image-slice: 1; }

.block--img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #CCC;
  max-height: 200px;
  max-width: 200px;
  overflow: hidden; }

.intro {
  color: #000;
  margin: 0 auto;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(45deg, #FDFC47, #24FE41);
  border-image-slice: 1;
  padding: 30px 15px;
  width: 100%; }
  .intro p {
    padding: 0 60px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.5em; }

.history {
  background: #f7f8f9;
  color: #666;
  padding: 30px 15px; }
  .history h2 {
    color: #000; }

.skills {
  display: flex;
  justify-content: space-around; }
  .skills ul li {
    font-weight: 200;
    padding: 3px 0; }
  .skills ul li:nth-child(n+2) {
    padding-left: 15px; }

.content-image {
  height: 100%;
  width: 100%; }

.project-url {
  font-weight: 200; }
  .project-url:hover {
    text-decoration: underline; }

.project-stack {
  font-weight: 200; }

.sidebar-links {
  display: flex;
  flex-direction: row; }
  .sidebar-links a img {
    margin: 0 5px;
    width: 15px; }

@media(max-width: 600px) {
  body {
    font-size: 12px; }

  h3 {
    font-size: 1rem;
    margin: 8px auto; }

  .App {
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    grid-template-areas: "sidebar" "content"; }

  .sidebar {
    border-right: none;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(135deg, #24FE41, #FDFC47);
    border-image-slice: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    grid-area: sidebar;
    height: auto;
    padding: 15px; }

  .sidebar-content {
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }

  .app-title {
    font-size: 16px;
    margin: 5px 0; }

  .app-subtitle {
    display: none; }

  .sidebar-footer {
    display: none; }

  .logo {
    width: 50px;
    height: 50px; }

  .skills {
    display: flex;
    flex-direction: column; }
    .skills ul {
      display: flex;
      flex-direction: column;
      padding: 5px; }
      .skills ul li {
        text-align: center;
        font-weight: 200;
        font-size: 1rem; }
      .skills ul li:nth-child(n+2) {
        padding: 0; }

  .intro {
    padding: 15px; }
    .intro p {
      font-size: 1.2em;
      padding: 0 30px; }

  .content-image {
    min-height: 80px;
    min-width: 80px; }

  .block {
    display: flex;
    flex-direction: column; }
    .block ul {
      padding: 15px; }

  .sidebar-links p {
    display: none; } }

/*# sourceMappingURL=app.css.map */
