/** Fonts **/

@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto:100,300|Source+Serif+Pro:700&display=swap');

/** Styles **/

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f8f9;
  color: #000;
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-family: 'Source Serif Pro', serif;
  font-size: 44px;
  margin: 0;
}

h2 {
  color: #777;
  font-family: 'Roboto', serif;
  font-size: 32px;
  font-weight: 100;
}

h3 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  margin: 8px 0;
  text-align: left;
}

a {
  color: #000;
  font-family: 'Roboto', serif;
  text-decoration: none;
}

p {
  font-family: 'Roboto', serif;
  font-weight: 400;
}

ul {
  margin: 0;
  list-style: none;
  padding: 15px;
}

span {
  color: #666;
  text-transform: lowercase;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  padding: 200px;
  width: 500px;
  height: 500px;
  opacity: 0.8;
  border-radius: 500px;
  margin-bottom: 60px;
  position: absolute;
  overflow-x: hidden;
}

.header {
  align-items: center;
  background-color: #f7f8f9;
  background-image: url('.././images/portfolio-bg.svg');
  background-position: right top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 0 0 25px;
  width: 100%;
}

.header a {
  display: block;
  font-family: 'Poppins';
}

.header-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  width: 90%;
  z-index: 2;
}

.header-bar a {
  padding: 5px 10px;
  transition: 150ms;
}

.header-bar a:hover {
  color: #b09026;
}

.header-links {
  display: flex;
}

.header-links a {
  color: #211b0e;
  padding: 15px 8px;
  transition: 150ms;
}

.header-links a:hover {
  color: #b09026;
}

.header-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.header-img {
  align-items: center;
  display: flex;
  flex: 1;
  min-height: 600px;
  justify-content: center;
}

.header-content {
  display: flex;
  max-width: 1280px;
  width: 80%;
}

.header .header-btn {
  background: #c4a747;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  padding: 10px 30px;
  text-align: center;
  transition: 200ms;
  width: 125px;
}

.header-btn:hover {
  background: #e8b923;
}

.intro {
  background-image: url('.././images/portfolio-left.svg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  width: 100%;
}

.intro p {
  margin: 25px 0;
  max-width: 560px;
}

.bio {
  font-size: 18px;
  min-height: 400px;
  width: 80%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  max-width: 1280px;
  width: 80%;
}

.content h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 15px;
  width: 100%;
}

.content__box {
  align-items: center;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: 15px 0;
  max-width: 1280px;
  padding: 0;
  width: 100%;
}

.block {
  align-items: center;
  border: 0;
  box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  transition: 150ms;
  max-width: 360px;
  position: relative;
  height: 100%;
}

.block:hover {
  transition: 150ms;
}

.block:hover .content__image {
  transition: 200ms;
  opacity: 1;
}

.block__img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 145px;
  min-height: 100px;
  height: 100%;
  max-width: 145px;
  min-width: 75px;
}

.block__text {
  background: #fff;
  color: #555;
  cursor: default;
  display: block;
  flex-direction: column;
  font-size: 12px;
  max-width: 220px;
  min-width: 140px;
  text-transform: lowercase;
  transition: 300ms;
  height: 100%;
  padding: 15px;
  width: 100%;
}

.block__text h3 {
  color: 000;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.block__text a {
  font-size: 14px;
}

.block__text p {
  margin: 0;
}

.block__text span {
  display: block;
  margin-bottom: 10px;
}

.history {
  align-items: center;
  background: #f7f8f9;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.history h3 {
  margin-bottom: 15px;
}
.history p {
  margin: 0 0 10px;
}

.skills {
  display: flex;
  justify-content: space-between;
}

.skills ul {
  padding: 0;
}

.skills ul li {
  font-weight: 300;
  padding: 2px 0;
}

.skills ul li:nth-child(n + 2) {
  padding-left: 10px;
}

.content__image {
  height: 100%;
  width: 100%;
  padding: 10px;
  opacity: 0.5;
}

.project__url {
  font-weight: 400;
  text-decoration: underline;
  transition: 150ms;
}
.project__url:hover {
  color: #b09026;
}

.project__stack {
  font-size: 14px;
  font-weight: 200;
}

.form-page {
  align-items: center;

  display: flex;
  justify-content: center;
  padding-bottom: 0px;
  width: 100%;
}

.form-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 90px 0 30px;
  max-width: 1280px;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  max-width: 450px;
  width: 100%;
}

.form input {
  border: 2px solid #e0c56e;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
  padding: 10px;
  transition: 200ms;
}

.form input::placeholder {
  color: #70756e;
}

.form input:focus {
  border: 2px solid #b08f26;
}

.form textarea {
  border: 2px solid #d4af38;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
  padding: 10px;
  transition: 200ms;
}

.form textarea::placeholder {
  color: #70756e;
}

.form textarea:focus {
  border: 2px solid #b08f26;
}

.form .form-submit {
  background-color: #c4a747;
  border-radius: 3px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  padding: 10px 0;
  transition: 200ms;
}

.form-submit:hover {
  background-color: #e8b923;
}

.form-control {
  flex-grow: 1;
}

.form-image {
  border: 1px dashed #e8b923;
  border-radius: 250px;
  min-width: 250px;
  width: 250px;
  height: 250px;
  margin: 25px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.footer-links a {
  align-items: center;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  margin-left: 3px;
  padding: 8px;
  transition: 200ms;
}

.footer-links a img {
  width: 21px;
}

.footer-links a:hover {
  background-color: rgba(225, 199, 111, 0.5);
}

.footer-links a svg {
  fill: #f00;
  stroke-width: 3;
  stroke: #000000;
}

.footer {
  background-image: url('.././images/portfolio-footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 top;
  display: flex;
  justify-content: center;
  padding: 200px 0 0;
  width: 100%;
}

.footer-container {
  width: 80%;
  max-width: 1280px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  text-align: center;
}

.footer a {
  color: #222;
  font-size: 24px;
  font-weight: 700;
}

.footer-text {
  color: #444;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  text-align: left;
}

.footer p {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/

@media (max-width: 1200px) {
  .content__box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 21px;
  }

  .header {
    background-position: -75px top;
    background-size: cover;
    width: 100%;
  }

  .header a {
    font-size: 12px;
  }

  .header-bar {
    margin-bottom: 40px;
    width: 90%;
  }

  .header-bar a {
    padding: 5px;
  }

  .header-links a {
    padding: 5px;
  }

  .header-content {
    flex-direction: column;
    width: 90%;
  }

  .header-img {
    min-height: 200px;
  }

  .app-title {
    font-size: 16px;
    margin: 5px 0;
  }

  .logo {
    height: 380px;
    margin: 0;
    padding: 140px;
    width: 380px;
  }

  .content {
    width: 90%;
  }

  .content__box {
    grid-template-columns: repeat(1, 1fr);
  }

  .skills {
    display: flex;
    flex-direction: column;
  }
  .skills ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .skills ul li {
    font-weight: 200;
    font-size: 1rem;
  }
  .skills ul li:nth-child(n + 2) {
    padding: 0;
  }

  .intro p {
    font-size: 20px;
  }

  .form-container {
    flex-direction: column;
    margin: 30px 60px;
  }

  .form {
    margin-bottom: 30px;
  }

  .form-image {
    margin: 15px 0;
  }

  .footer a {
    font-size: 21px;
    text-align: center;
  }

  .footer-links a {
    margin: 0 10px;
  }

  .footer-text p {
    margin-bottom: 15px;
  }

  .footer-container {
    flex-direction: column;
  }
}

/*# sourceMappingURL=app.css.map */
